html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url('../pics/baa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.scroll-container{
    width: 100vw;
    height: 100vh;
}
.home-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.home-sub-container{
    height: 550px;
    width: 1170px;
    background-color: aquamarine;  
    margin-top: 8vh;
}
