*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url('../pics/baa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.scroll-container{
    width: 100vw;
    height: 100vh;
}
.home-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.home-sub-container{
    display: flex;
    align-items: center;
    position: relative;
    height: 550px;
    width: 1180px;
    padding: 0px 0px;
    margin-top: 0vh;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: white; 
}
.main-pic{
    position: absolute;
    height: 500px;
    bottom: 0px;
    right: 350px;
    z-index: 101;
}
.text-container{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0px;
    line-height: 50px;
    transform: translateY(-20%);
}
.home-sub-container p{
    margin: 0px;
}
.teamindia{
    font-size: 80px;
    letter-spacing: 0px;
    background: linear-gradient(orange,white,green);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.scrolling-text{
    position: absolute;
    bottom: -78px;
    margin: 0px;
    overflow-x: hidden;
}
.scrolling-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 200px;
    white-space: nowrap;
    z-index: 100;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(101, 101, 101);   
    animation: slide 50s linear infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.photo-wall{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    top: 70px;
    height: 160px;
    width: 400px;
    right: 0px; 
}
.years{
    width: 110px;
    text-align: center;
    
}
.years p{
    font-family: 'Poppins', sans-serif;
    color: grey;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d7dd;
    height: 130px;
    width: 90px;
    border: 10px solid white;
    box-shadow: 0px 0px 21px 3px rgba(0 ,0, 0, 0.5) inset, 0 15px 54px 10px rgba(0, 0, 0, 0.3);

}
.frame img{
    height: 110px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(203, 194, 194) solid;
}
.info{
    position: absolute; 
    width: 500px;
    transform: translateY(50%);
    right: -115px;
}
.qus{
    color: rgb(95, 54, 54);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;   
}
.ans{
    font-weight: 400;
    color: grey;
}
.gallery-button{
    position: absolute; 
    transform: translateY(300%);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    left:20px;
    z-index: 103;
}
.gallery-button a:hover{
    color: grey;
}
.gallery-button a{


    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: solid;
    font-family: 'Poppins', sans-serif ;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.359);

}




@media screen and (max-width: 700px) {
    html,body{
      max-width: 100%;
      overflow-x: hidden;
    }
    .scroll-container{
      
    }
    .home-container{
    transform: scale();
    }
    .photo-wall{
        top: 40px;
        left: 5px;
    }
    .home-sub-container{
        height: 730px;
    }
    .scrolling-text{
        bottom: -40px;
        display: none;
    }

    .scrolling-text p{
        font-size: 120px;
       
    }
    .text-container{
        position: absolute;
        bottom: 90px;
        transform: scale(0.84);
        width: 470px;
        left: -28px;
        z-index: 102;

    }
    .info{
        bottom: 270px;
        z-index: 103;
        left: 10px;
    }
    .gallery-button{
        display: none;
    }
    .main-pic{
        left: auto;
        right: 0;
        bottom: 200px;
        height: 300px;
        border-bottom: 1px solid grey;
    }
}
 
     

