html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url('../pics/baa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.scroll-container{
    width: 100vw;
    height: 100vh;
}
.home-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.home-sub-container{
    display: flex;
    align-items: center;
    position: relative;
    height: 550px;
    width: 1180px;
    padding: 0px 0px;
    /* background-color: aquamarine;   */
    margin-top: 0vh;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: white; 
}
.main-pic{
    position: absolute;
    height: 500px;
    bottom: 0px;
    right: 350px;
    z-index: 101;
}
.text-container{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin: 0px;
    line-height: 50px;
}
.home-sub-container p{
    margin: 0px;
}
.home-sub-container p:nth-child(2){
    font-size: 80px;
    letter-spacing: 0px;
    background: linear-gradient(orange,white,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.scrolling-text{
    position: absolute;
    bottom: -78px;
    margin: 0px;
    overflow-x: hidden;
}
.scrolling-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 200px;
    white-space: nowrap;
    z-index: 100;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(101, 101, 101);   
    animation: slide 50s linear infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.photo-wall{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 70px;
    height: 160px;
    width: 400px;
    right: 0px;
    
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d7dd;
    height: 130px;
    width: 90px;
    border: 10px solid white;
    box-shadow: 0px 0px 21px 3px rgba(0 ,0, 0, 0.5) inset, 0 15px 54px 10px rgba(0, 0, 0, 0.3);

}
.frame img{
    height: 110px;
    width: 70px;
    object-fit: cover;
    object-position: center;
    border: 1px rgb(203, 194, 194) solid;
}
.frame-2{
    position: absolute;
    top: 240px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 130px;
    background-color: #d4d7dd;
    border: 10px solid white;
    box-shadow: 0px 0px 21px 3px rgba(0 ,0, 0, 0.5) inset, 0 15px 54px 10px rgba(0, 0, 0, 0.3);
}

.poster{
    width: 330px;
    height: 110px;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgb(180, 174, 174);
}
.watch-now{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 110px;
    width: 330px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}
.link-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    
}
.watch-now:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.434);
}
