.ipl-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: right;
    align-items: center;
}
.ipl-stats-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 800px;
    background-image: url('../pics/97.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px; 
    box-shadow: 2px 2px 15px black;
    
    animation: left-to-right linear;
    animation-timeline: view();
}
.ipl-pic-stats-container{
    display: flex;
    margin-top: 8vh;
}
.ipl-section img{
    height: 450px;

    animation: pop linear;
    animation-timeline: view();
}


.ipl-stats-heading{
    color: #194d8d;
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
    font-weight: 800;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.305);
    border-bottom: 3px solid #969286;
}
.ipl-stats-container img{
    position: absolute;
    height: 450px;
    bottom: 0;
    opacity: 0.2;
    left: 100px;
    /* animation: turn 60s linear infinite; */
}
@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.ipl-table-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    height: 380px;
    width: 780px;
}
.ipl-left-table-container, .ipl-right-table-container{
    height: 350px;
    width: 338px;
}
.ipl-left-table, .ipl-right-table{
    border-collapse: collapse;
    width: 250px;
    height: 350px;  
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 5px 20px;
}
.ipl-left-table tr,.ipl-right-table tr {
    border-bottom: 1px solid #937B0F;
    color: #363F2C;   
}
.ipl-left-table tr td,.ipl-right-table tr td{
    width: 50px;   
    color: #363F2C;
}
.ipl-left-table tr:nth-of-type(even),.ipl-right-table tr:nth-of-type(even){
    background-color: rgba(128, 128, 128, 0.107);
}

@media screen and (max-width: 700px) {
    .ipl-pic-stats-container{
        flex-direction: column-reverse;
        align-items: center;
        width: 360px;
        height: 700px;
        margin-top: 21vh;
    }
    .ipl-stats-container{
        animation: none;
        width: 360px;

        animation: slide linear;
        animation-timeline: view();
        animation-range: cover 0% contain 10% ;
    }
    .ipl-section img{
        height: 350px;
    }
    .ipl-section{
        justify-content: center;
        align-items: normal;
    }

    .ipl-table-container{
        flex-direction: row;
        width: 330px;
        justify-content: left;
        gap: 0px;
    }
    .ipl-left-table tr td,.ipl-right-table tr td{
        text-align: right;
        width: 50px;   
    }  
    .ipl-left-table, .ipl-right-table{
        height: 330px;
        width: 137px;
    } 
    .ipl-stats-container img{
        bottom: 0;
        left: 0;
    }
    .ipl-left-table-container, .ipl-right-table-container{
        height: 320px;
        width: 338px;
    }
}