.ipl-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: right;
    align-items: center;
}
.ipl-stats-container{
    height: 450px;
    width: 800px;
    background-image: url('../pics/97.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;   
}
.ipl-section img{
    height: 450px;
}