.odi-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: right;
    align-items: center;
}
.odi-stats-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 800px;
    background-image: url('../pics/t20back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.odi-section img{
    height: 450px;
}


.odi-stats-heading{
    color: #CCD0D9;
    
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
    font-weight: 800;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.449);
    border-bottom: 3px solid #DFB770;
    
}
.odi-stats-container img{
    position: absolute;
    height: 450px;
    bottom: 0;
    opacity: 0.15;
    left: 175px;
    animation: turn 60s linear infinite;
}
@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.odi-table-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    height: 380px;
    width: 780px;
}
.odi-left-table-container, .odi-right-table-container{
    height: 350px;
    width: 338px;
}
.odi-left-table, .odi-right-table{
    border-collapse: collapse;
    width: 250px;
    height: 350px;  
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 5px 20px;
}
.odi-left-table tr,.odi-right-table tr {
    border-bottom: 1px solid #0577D2; 
    color: #CCD0D9;  
}
.odi-left-table tr td,.odi-right-table tr td{
    width: 50px;
    color: #CCD0D9;   
}
.odi-left-table tr:nth-of-type(even),.odi-right-table tr:nth-of-type(even){
    background-color: rgba(128, 128, 128, 0.107);
}