.t20-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    justify-content: left;
    align-items: center;
}
.t20-stats-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 800px;
    background-image: url('../pics/odiback2.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;

    animation: right-to-left linear;
    animation-timeline: view();
}

@keyframes right-to-left {
    0%{
        transform: translateX(50%);
    }
    45%{
        transform: translateX(0%);
    }
    
}




.t20-section img{
    height: 450px;
    animation: pop linear;
    animation-timeline: view();
}



.t20-stats-heading{
    color: #CCD0D9;
    font-family: 'Poppins', sans-serif;
    font-size: 30px; 
    font-weight: 800;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.305);
    border-bottom: 3px solid #DFB770;
}
.t20-stats-container img{
    position: absolute;
    height: 450px;
    bottom: 0;
    opacity: 0.15;
    left: 175px;
    animation: turn 60s linear infinite;
}
@keyframes turn{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.t20-table-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    height: 380px;
    width: 780px;
}
.t20-left-table-container, .t20-right-table-container{
    height: 350px;
    width: 338px;
}
.t20-left-table, .t20-right-table{
    border-collapse: collapse;
    width: 250px;
    height: 350px;  
    font-size: 18px; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 5px 20px;
}
.t20-left-table tr,.t20-right-table tr {
    border-bottom: 1px solid #0577D2;
    color: #CCD0D9;   
}
.t20-left-table tr td,.t20-right-table tr td{
    width: 50px;   
    color: whitesmoke;
}
.t20-left-table tr:nth-of-type(even),.t20-right-table tr:nth-of-type(even){
    background-color: rgba(128, 128, 128, 0.107);
}


@media screen and (max-width: 700px) {
    .pic-stats-container{
        flex-direction: column;
    }
    .t20-stats-container{
        animation: none;
        transform: scale(0.45);
    }
    .t20-section img{
        animation: none;
        transform: scale(0.45);
    }
    .t20-section{
        justify-content: center;
    }
}